body{
	font: normal;
}
#shop_info .form-group{
	clear:both;
}
#shop_info .col-sm-2{
	margin: 10px 0;
	line-height: 34px;
}
#shop_info h3 {
	text-align: center;
}
#shop_info .message {
	padding: 10px;
}
#shop_info .control-label{
	text-align: right;
}
#shop_info .error{
	float: left;
	margin: 10px ;
	height: 34px;
	line-height: 34px;
	border: 1px #ccc solid;
	padding: 0 15px;
	border-radius: 5px;
	display: none;
}
#upload_btn{
	display: none;
	position: absolute;
	top: 5px;
	left: 20px;
	width: 75px;
	height: 75px;
	padding-top: 6px;
	background-color: rgba(0,0,0,0.3);
	color: white;
	text-align: center;
}
.avatar img{
	position: relative;
	width: 75px;
	height: 75px;
}
.avatar{
	width: 87px;
	height: 87px;
	border: 1px #999 solid;
	padding: 5px;
}
.avatar:hover #upload_btn{
	display: block;
}
